body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  padding: 40px;
  background: url(./images/cdc-XLhDvfz0sUM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#quiz-container {
  padding: 90px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  text-align: center;
}

#question {
  margin-bottom: 20px;
  font-weight: bold;
}

#choices {
  /* margin-top: 40px; */
}
#progress {
  margin-top: 10px;
}
#landing-page,
#quiz-container,
#result-page {
  display: none;
  text-align: center;
}

#landing-page {
  display: block;
  margin-bottom: 50px;
  border: 2px solid #5474e2;
  border-radius: 10px;
  padding: 90px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
}

#landing-page button {
  padding: 30px 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  font-size: 35px;
}
#landing-page h1 {
  font-size: 20px;
  color: #001f3f;
  font-size: 16px;
  width: 350px;
  line-height: 1.5;
  margin-bottom: 45px;
}
span {
  font-weight: lighter;
  font-family: "lobster";
  font-size: 56px;
}

#landing-page p {
  font-weight: lighter;
  font-family: "lobster";
  font-size: 25px;
  color: #001f3f;
}

button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  font: bold;
  color: #001f3f;
  cursor: pointer;
  margin: 35px;
  border-radius: 5px;
  /* margin-top: 20px; */
}

button:hover {
  background-color: #bac7f8;
}

#choices {
  margin-top: 20px;
  text-align: left;
}

.choice-option {
  display: block;
  margin: 10px 0;
  margin-top: 30px;
  cursor: pointer;
  background: #e0e0e0;
  padding: 12px 0;
  border-radius: 5px;
}
.choice-option :hover {
  background-color: #007bff;
}
#progress {
  margin-top: 10px;
  font-weight: bold;
}

#result-page h1 {
  font-size: 50px;
  color: #001f3f;
}

#result-page button {
  padding: 30px 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  font-size: 35px;
}
#score-display {
  font-size: 20px;
  color: #001f3f;
  font-weight: bold;
}
